@media only screen and (max-width:1200px){
img{
    height: 80%;
    padding-top: 200px;
   
}

}


@media only screen and (max-width:992px){
   img{
    height: 50%;
    padding-top:300px;
   }
     
     
        }
        
    
    
    /*small devices, tablets*/
    @media only screen and (max-width:768px){
        
.container{
    font-size: 18px;
}

.cont{
    font-size: 18px;
}

.item{
    padding: 18px;
}


.item1{
    display: grid;
    align-items: start;
}
    }

img{
    height: 25%;
}
    
    
        
    /*extra small devices, phones*/   
    @media only screen and (max-width:500px){

.container{
    font-size: 15px;
}

.cont{
    font-size: 15px;
}


.item{
    padding: 10px;
}
   



img{
    height: 15%;
}

    }
        
    
    /*custom, iphone retina*/    
    @media only screen and (max-width:320px){
        .container{
            font-size: 12px;
        }
        
        .cont{
            font-size: 12px;
        }
        
        
        .item{
            padding: 5px;
        }
           
        
        
        
        img{
            height: 10%;
        }   
    
        }

   