@media only screen and (max-width:1200px){
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:10px;
}
      
img{
    height: 60%;
}

}


@media only screen and (max-width:992px){
   
     img{
        height: 40%;
     }   
     
        }
        
    
    
    /*small devices, tablets*/
    @media only screen and (max-width:768px){
        
    img{
        margin-top: 300px;
        height:20%;
    }
        
    
    }
    
    
        
    /*extra small devices, phones*/   
    @media only screen and (max-width:500px){
      
        .container{
            
            font-size: 15px;
        }   


        .cont{
           
            font-size: 15px;
        }
            
        
        }

        img{
            height: 12%;
        }

        .item{
            padding: 17px;
        }
   
        
    
    /*custom, iphone retina*/    
    @media only screen and (max-width:320px){
    
     .item{
        padding: 15px;
     }   

    .container{
        font-size: 15px;
        
    }
     
    .cont{
        font-size: 15px;
    }
    
    
    img{
       
        height: 10%;
    }
        }

   